.no-result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 130px;
  font: var(--font-medium) 18px "Montserrat", sans-serif;
}

.no-result__text {
  color: var(--dark-grey);
  margin-bottom: 37px;
}

.no-result__button {
  width: 95px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid var(--green);
  background: var(--green);
  font-size: 12px;
  font-weight: var(--font-medium-bold);
  color: var(--white);
  cursor: pointer;
}
